html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, textarea, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}

:focus {outline: 0;}

* {
  box-sizing: border-box;
}

html {
  background-image: url(paper-1.png);
  font-family: 'Belleza', sans-serif;
}

body {
  font-size: 1.5em;
}

.page {
  width: 100%;
}

.text {
  height: 1.3em;
  resize: none;
  background: none;
  border: none;
  resize: none; 
  display: block;
  height: 100%;
  width: 100%;
  padding: 15%;
}

@media all and (max-width: 640px) {
  body {
    font-size: 1.1em;
  }
}


.hidden {
  display: none!important;
}

.sidebar {
  height: 100%;
    -webkit-transition: height 0.1s ease-in;
  box-shadow: inset 4px 0px 10px #333333;
  font-size: 0.7em;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 10px;
  overflow: hidden;
  cursor: pointer;
  top: 0;
  right: 0;
  position: absolute;
}

.settings {
  height: 0px;
  -webkit-transition: height 0.2s ease-in;
  box-shadow: inset 0px -2px 10px #333333;
  font-size: 0.7em;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

body.menu .settings {
  cursor: initial;
  height: 200px;
}

a, a:visited {
  color: blue;
}

.upsell {
  width: 430px;
  margin: auto;
}

.upsell p {
  margin-bottom: 10px;
}

input.link {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset 2px -2px 29px #eee;
}

.corner {
  position: absolute;
  top: 0px;
  right: 0px;
  width:300px;
  height: 300px;
  box-shadow:  0px 0px 15px #333333;

  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transition: all 0.2s ease-in;
  overflow: hidden;
}

.corner {
  width:  40px;
  height: 40px;
  background-image: url(paper-1.png);

}

.corner-text {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 12px;
  overflow: hidden;
  margin-top: 20px;
  margin-right: 20px;
}

.corner.open {
  width: 270px;
  height: 270px;
}

.edge-old {
  -webkit-transform: rotate(45deg);
  width: 150%;
  height: 2px;
  box-shadow: 0 -3px 16px black;
  background-color: rgba(0,0,0, 0.19);
  top: 53%;
  right: -29%;
  position: absolute;
}


.edge {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  width: 150%;
  height: 100%;
  box-shadow: 0 0px 9px rgba(0, 0, 0, 0.4), inset 1px 1px 9px #333;
  background-color: rgba(0, 0, 0, 0.19);
  background-image: url(paper-1.png);
  top: 38%;
  right: 8%;
  position: absolute;
}


.open .edge {
  box-shadow: 0 -3px 64px rgba(0, 0, 0, 0.9), inset -25px 6px 18px #333;

}

body.read .read-write {
  display: none;
}
